:root{
    --font-family: 'Nunito', sans-serif;
    --font-family-main: 'Whisper', cursive;
    --color-main-page: #87CEEB;
}





.container {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
body {
    font-family: var(--font-family);
    background-color: var(--color-main-page);
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    min-height: 1500px;
}

#main-text {
    font-family: var(--font-family-main);
    color: whitesmoke;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50px;
    font-size: 40px;
}
.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-image: linear-gradient(to top, var(--color-main-page), transparent);
    z-index: 1000;
}
.container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-main-page);
    z-index: 1000;
    mix-blend-mode: color;
}
#bg-tree {
    z-index: 2;
}
.text-block {
    padding: 15px 20px;
}
.text {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-size: 40px;
    margin: 0 auto;
}
.descr {
    margin: 20px auto;
    text-align: start;
    font-family: var(--font-family);
    font-size: 18px;
}
/*---------------------------------------ADAPTIVE-----------------------*/

@media screen and (min-width: 375px) {
    #main-text {
        left: 100px;
    }
}
@media screen and (min-width: 475px) {
    #main-text {
        left: 150px;
    }
}
@media screen and (min-width: 600px) {
    #main-text {
        left: 200px;
        font-size: 65px;
    }
    .descr {
        font-size: 24px;
    }
}
@media screen and (min-width: 768px) {
    #main-text {
    left: 250px;
    font-size: 75px;
    }
}
@media screen and (min-width: 1200px) {
    #main-text {
        font-size: 120px;
        top: 10px;
        left: 600px;
    }
    .text {
        font-size: 54px;
    }
    .descr {
        font-size: 32px;
    }
}